<!-- HERENCIA DE PLANTILLA -->
{% extends './layout.html' %}

<!-- TITULO -->
{% block title %}{% endblock %}

<!-- CUERPO -->
{% block body %}
<div> <h1 class="text-center mt-4 mb-4 text-primary">Sistemas de bases de datos - NRC 14293</h1> </div>
<div> <h2 class="text-center mt-4 mb-4"> Index </h2> </div>
<table>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div id="content">
                <ul class="menu">
                    <li><a href="{{ url_for('permisos') }}">Permisos</a></li>
                    <li><a href="{{ url_for('alumnos') }}">Alumnos</a></li>
                    <li><a href="{{ url_for('profesores') }}">Profesores</a></li>
                    <li><a href="{{ url_for('materias') }}">Materias</a></li>
                    <li><a href="{{ url_for('notas') }}">Notas</a></li>
                </ul>
            </div>
        </div>
    </div>
</table>
{% endblock %}