<!-- HERENCIA DE PLANTILLA -->
{% extends './layout.html' %}

<!-- TITULO -->
{% block title %}{% endblock %}

<!-- CUERPO -->
{% block body %}
<div> <h1 class="text-center mt-4 mb-4 text-primary">Sistemas de bases de datos - NRC 14293</h1> </div>
<div> <h2 class="text-center mt-4 mb-4"> Permisos </h2> </div>

<div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div id="content">
                <ul class="menu">
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('alumnos') }}">Alumnos</a></li>
                    <li><a href="{{ url_for('profesores') }}">Profesores</a></li>
                    <li><a href="{{ url_for('materias') }}">Materias</a></li>
                    <li><a href="{{ url_for('notas') }}">Notas</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="card-body">
                <!-- Formulario para agregar usuarios -->
                <form id="formulario" action="/agregar-usuario" method="POST" onsubmit="return validarFormulario()">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Nombre de usuario: </label>
                            <input type="text" class="form-control mb-3" name="nombre_usu" required>
                        </div>
                        <div class="col">
                            <label>Contraseña: </label>
                            <input type="password" class="form-control mb-3" name="contrasena_usu" required>
                        </div>
                        <div class="col">
                            <label>Permisos:</label>
                            {% if permisos %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="permisoAlumno_usu" name="permisoAlumno_usu" {% if permisos.permisoAlumno_usu %}checked{% endif %} value="permisoAlumno_usu">
                                <label class="form-check-label" for="permisoAlumno_usu">Permiso en Alumno</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="permisoProfesor_usu" name="permisoProfesor_usu" {% if permisos.permisoProfesor_usu %}checked{% endif %} value="permisoProfesor_usu">
                                <label class="form-check-label" for="permisoProfesor_usu">Permiso en Profesor</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="permisoMateria_usu" name="permisoMateria_usu" {% if permisos.permisoMateria_usu %}checked{% endif %} value="permisoMateria_usu">
                                <label class="form-check-label" for="permisoMateria_usu">Permiso en Materia</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="permisoNota_usu" name="permisoNota_usu" {% if permisos.permisoNota_usu %}checked{% endif %} value="permisoNota_usu">
                                <label class="form-check-label" for="permisoNota_usu">Permiso en Nota</label>
                            </div>
                            {% else %}
                                
                            {% endif %}
                        </div>

                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-3" type="submit">Agregar</button>
                        </div>
                    </div>
                </form>
                
                <form action="{{ url_for('mostrar_todos_usuarios') }}" method="POST">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="submit">Mostrar usuarios</button>
                    </div>
                </form>

                <!-- TABLA -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Contraseña</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if lista %}
                            {% for d in lista %}
                                <tr>
                                    <td>{{ d.id_usu }}</td>
                                    <td>{{ d.nombre_usu }}</td>
                                    <td>{{ d.contrasena_usu }}</td>
                                    
                                    <td>
                                        <button class="btn btn-primary btn-sm btn-editar">Editar</button>
                                        <form action="{{ url_for('editar_usuario', id_usu=d.id_usu) }}" method="post" class="form-editar" style="display: none;">
                                            <div class="col">
                                                <label>Nombre de usuario: </label>
                                                <input type="text" class="form-control mb-3" name="nombre_usu" value="{{d.nombre_usu}}" required>
                                            </div>
                                            <div class="col">
                                                <label>Contraseña: </label>
                                                <input type="password" class="form-control mb-3" name="contrasena_usu" value="{{d.contrasena_usu}}" required>
                                            </div>
                                            <div class="col">
                                                <label>Permisos:</label>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="permisoAlumno_usu_{{ d.id_usu }}" name="permisoAlumno_usu" {% if d.permisoAlumno_usu %}checked{% endif %} value="permisoAlumno_usu_{{ d.id_usu }}">
                                                    <label class="form-check-label" for="permisoAlumno_usu">Permiso en Alumno</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="permisoProfesor_usu_{{ d.id_usu }}" name="permisoProfesor_usu" {% if d.permisoProfesor_usu %}checked{% endif %} value="permisoProfesor_usu_{{ d.id_usu }}">
                                                    <label class="form-check-label" for="permisoProfesor_usu_{{ d.id_usu }}">Permiso en Profesor</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="permisoMateria_usu_{{ d.id_usu }}" name="permisoMateria_usu" {% if d.permisoMateria_usu %}checked{% endif %} value="permisoMateria_usu_{{ d.id_usu }}">
                                                    <label class="form-check-label" for="permisoMateria_usu_{{ d.id_usu }}">Permiso en Materia</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="permisoNota_usu_{{ d.id_usu }}" name="permisoNota_usu" {% if d.permisoNota_usu %}checked{% endif %} value="permisoNota_usu_{{ d.id_usu }}">
                                                    <label class="form-check-label" for="permisoNota_usu_{{ d.id_usu }}">Permiso en Nota</label>
                                                </div>
                                            </div>
                                            
                                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                            <button type="button" class="btn btn-secondary" id="cerrarForm">Cerrar</button>
                                        </form>
                                    </td>
                                    <td><a href="{{url_for('eliminar_usuario', id_usu=d.id_usu)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="12">No se encontraron resultados para "{{ busqueda }}".</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    // Agregar evento clic al botón "Cerrar" en los formularios de edición
    var cerrarFormButtons = document.querySelectorAll('.form-editar #cerrarForm');
    cerrarFormButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var form = button.closest('.form-editar');
            form.style.display = 'none';
        });
    });

    // Agregar evento clic al botón "Editar" para mostrar el formulario de edición
    var editarButtons = document.querySelectorAll('.btn-editar');
    editarButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var form = button.nextElementSibling; // Obtener el formulario siguiente
            form.style.display = 'block';
        });
    });

    function validarFormulario() {
        var nombreUsuario = document.getElementById("nombre_usu").value.trim();
        var contrasenaUsuario = document.getElementById("contrasena_usu").value.trim();

        if (nombreUsuario === "" || contrasenaUsuario === "") {
            alert("Por favor, complete ambos campos nombre de usuario y contraseña.");
            return false;
        }

        return true;
    }
</script>
{% endblock %}